.selector{
    display:flex;
}
.selector__list{
    display:flex;
    align-items: stretch;
    align-content: center;
    border: 1px solid rgba(3,37,65, 1);
    border-radius:30px;
}

.selector__item>h3{
justify-content:center;
font-size:1em;
padding:4px 20px;
white-space: nowrap;
}
.selector__item{
    border-radius:30px;
    transition:left 0.25s;
}

.selector__button{
    background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition:0.5s;
    
}
.selector__h2{
    margin-right: 20px;
}

.selector__h3{
    justify-content:center;
    font-size:1em;
    padding:4px 20px;
    white-space: nowrap;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size:0.9em;
}

.active{
    background:linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    transition:0.5s;
}

.selected{
    border-radius:30px;
    background-color:#032541;
    transition:0.5s;
}

@media(max-width:500px){
    .selector{
        display:block;
    }
    .selector__h2{
        margin-top:30px;
        margin-bottom: 10px;
    }
    .selector__list{
        width:fit-content;
    }
    .selector__h3{
        justify-content:center;
        font-size:1em;
        padding:4px 15px;
        white-space: nowrap;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size:0.9em;
    }
}
