.button-container{
    width:150px;
    display: flex;
    position:absolute;
    z-index:1;
    justify-content:space-between;
    padding: 5px;
    border-radius:10px;
}

@media(max-width:500px){
    .button-container{
        width:350px;
        display: flex;
        justify-content:space-between;
        padding: 15px;
        border-radius:10px;
    }
}
